---
layout: default
---

<div class="posts mp_list">
  {% for post in paginator.posts %}
    <article class="post">

	<a href="{{ site.baseurl }}{{ post.url }}">
      <h1>{{ post.title }}</h1>

	<a class="cmt_count" href="{{ post.url }}index.html#disqus_thread" data-disqus-identifier="{{post.url}}"></a>

      <div class="entry">
        {{ post.excerpt }} 
      </div>
		
		{% include post-tags.html %} 

      <div class="date">
         {{ post.date | date: "%B %e, %Y" }}
      </div>
	</a>

    </article>
  {% endfor %}
</div>


{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

<img src="http://s10.flagcounter.com/count2/gb9v/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0">
